{% extends 'base.html.twig' %}

{% block title %}histoire{% endblock %}
{% block description %}Dévrouvrez l'histoire de notre boutique, de l'idée à sa création{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
<p>J'ai décidé de créer un site e-commerce de produits de cheveux afro, car j'ai longtemps défrisé mes cheveux pour un gain de temps mais en oubliant que les défrisants sont des produits chimiques. <br> Qui dit produit chimique, dit risque pour la santé. <p>En plus de poser des problèmes du point de vue esthétique (les cheveux de devant arraché, des endroits sur le crane sans cheveux), ces produits peuvent aller jusqu’à causer une brulure du cuir chevelu.</p> Je me suis dit pourquoi continuer à prendre de tels risques? En 2018 j'ai donc décider de faire un big-chop pour apprendre à les manier et surtout les assumer, ça revient beaucoup moins cher que les moyens qu’on emprunte (tissage, mèches, etc.) mais cela ne veut pas dire qu'ils faut les bannir car ça reste de coiffures protectrices.
</p>
<br>
<img src="image/okoaa.png" class="d-block w-100" alt="...">

</div>
{% endblock %}
