{% extends 'base.html.twig' %}

{% block title %}Hello ProtectionsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1> Politiques de confidentialité</h1>
 
<h4>DONNEES NOMINATIVES ET ESPACE "MON COMPTE"</h4>

<p> Les informations et données personnelles que OKOAFRO HAIR demande à l'utilisateur de lui fournir sont réservées à son usage. L'utilisateur dispose d'un droit d'accès, de modification, de rectification (art 34 de la loi No 78-17 Informatique et Liberté).

Pour l'exercer, adressez-vous à : OKOAFRO HAIR 21 rue colette, 91270 Vigneux-Sur-Seine, en joignant à votre courrier une copie de votre carte d'identité ou de votre passeport afin de vous identifier. Ce traitement automatisé d'informations, notamment la gestion des adresses e-mails, a fait l'objet d'une déclaration à la CNIL (déclaration n°1271932). Pour passer une commande, l'utilisateur doit ouvrir la première fois un compte client en ligne afin d'enregistrer ses coordonnées, son identifiant email et son mot de passe.


Le mot de passe saisi est strictement confidentiel et ne doit en aucun cas être communiqué à des tiers. Le client est seul responsable de l'utilisation de son mot de passe par un tiers. Il peut demander à Alice Délice le changement du mot de passe. A partir de ce compte, l'utilisateur peut à chaque visite consulter l'historique de ses commandes, ses réservations en cours, modifier ses coordonnées le cas échéant et valider sa commande et ses réservations sans avoir besoin de ressaisir ses coordonnées. Il est clairement stipulé que les coordonnées bancaires ne sont pas enregistrées sur ce compte. Pour chaque nouvelle commande, l'utilisateur doit obligatoirement fournir les informations de sa carte bancaire via l'interface de paiement du système sécurisé STRIPE.
</p>
    
</div>
{% endblock %}
