{% extends 'base.html.twig' %}

{% block title %}Hello ConditionsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

	<h1>
		Conditions générales de vente</h1>

	<h4>ARTICLE 1 PRÉAMBULE :</h4>

<p>Les présentes conditions générales de vente régissent l’ensemble des relations entre la société SAS OKOAFRO HAIR au capital de 6 000 € – N° identification TVA FR 03 1115531252– N° Siret 271 076 267 19938 – Siège social : 21 rue colette, 91270 Vigneux-Sur-Seine</p>

</p>

	<p>Adresse e-mail : okoafrohair@gmail.com</p>


	<p>
		Les présentes conditions générales de vente visent à définir les modalités de vente entre OKOAFRO HAIR et le client, les modalités des services en passant par le paiement et la livraison. Elles règlent toutes les étapes nécessaires à la passation de commande entre les parties contractantes, ceci dans le cadre d’un système de vente à distance sur internet, pour des marchandises définies dans le catalogue de vente du site www.okoafro-hair.fr</p>

	<h4>ARTICLE 2 CONDITIONS D’APPLICATION :</h4>

	<p>Les présentes conditions générales de vente sont portées à la connaissance du client pour lui permettre de passer commande. En cliquant sur l’icone du site « Payer ma commande », le client reconnaît avoir la pleine capacité juridique pour s’engager au titre des Conditions Générales de Vente, lesquelles sont seules applicables au contrat qui suit.
		
		Si une condition venait à faire défaut, elle serait considérée par les usages en vigueur dans le secteur de la vente à distance dont les sociétés ont siégé en France.
		
		Le site est accessible par le client 24 heures sur 24, 7 jours sur 7, sauf pendant la période de congés annuels et en cas d’opération de maintenance.
	</p>

	<h4>ARTICLE 3 ARTICLES ET PRODUITS :</h4>

	<p>Les produits proposés sont ceux qui figurent dans le catalogue publié sur le site, dans la limite des stocks disponibles et sous réserve du bon fonctionnement du site.
		
		Chaque produit est présenté accompagné d’une photographie et d’un descriptif établi par OKOAFRO HAIR.
		
		Les descriptifs sont destinés à présenter au client les caractéristiques essentielles des produits avant la prise de commande définitive et ne peuvent en aucun cas engager la responsabilité de OKOAFRO HAIR.
		
		Les visuels des produits sont fournis à titre indicatif et ne sont pas contractuels.
	</p>

	<h4>ARTICLE 4 COMMANDE :</h4>

	<p>
		Pour passer commande le client s’engage à remplir le bon de commande avec précision et rigueur. A ce titre, il s’engage à renseigner intégralement les différentes rubriques nécessaires au bon traitement de sa commande : choix du/des produits ; quantité de produits souhaités ; renseignement de l’adresse de facturation et de livraison ; choix de la date de livraison ; choix du mode de paiement ; validation de la commande après vérification ; paiement de la commande dans les conditions prévues.
	</p>

	<h4>ARTICLE 5 MOYEN DE PAIEMENT :</h4>

	<p>
		A aucun moment, les sommes encaissées ne pourront être considérées comme des arrhes ou des acomptes.
		
		Le règlement des produits se fait par les moyens de paiement suivant :
		
		–  Carte bancaire VISA, MASTERCARD ou American Express en ligne depuis le site par le système de paiement E-TRANSACTIONS qui crypte l’information afin de protéger toutes les données liées aux informations personnelles et aux moyens de paiement. La validation par carte est immédiate.
		
		–  Espèces et chèques.
		
		Défaut de paiement :
		
		Le client garantit à OKOAFRO HAIR que le moyen de paiement utilisé est en cours de validité et n’est pas issu d’une opération frauduleuse.
		
		Dans le cas d’une commande qui n’aurait pas été réglée totalement ou partiellement par le client, OKOAFRO HAIR s’engage à en informer le client par courrier électronique et à lui demander d’y remédier. A défaut de réponse ou de solution dans un délai de 24H avant la livraison, OKOAFRO HAIR se réserve le droit notamment de refuser d’effectuer une livraison, de refuser d’honorer une commande, d’annuler toutes les commandes en cours ou de suspendre le compte du client. De plus, OKOAFRO HAIR s’autorise à suspendre toute commande ou toute livraison en cas de refus d’autorisation de paiement de la part des organismes financiers.
	</p>

	<h4>ARTICLE 6 DROIT DE RÉTRACTATION :</h4>

	<p>
		En vertu de l’article L.221-28  du code de la consommation, le droit de rétractation ne peut être exercé lors de la fourniture de biens susceptible de se détériorer ou de se périmer rapidement  .
	</p>

	<h4>ARTICLE 7 RUPTURE DE STOCK :</h4>

	<p>
		Les produits proposés sur le site internet le sont dans la limite des stocks disponibles. Un produit devenu indisponible sera retiré du catalogue de produits en ligne dans les plus brefs délais ou indiqué comme indisponible pour une durée limitée.
		
		Toutefois, en cas de rupture de stock, OKOAFRO HAIR prendra contact avec le client dans les meilleurs délais afin de convenir avec lui de décaler la livraison en attendant le réapprovisionnement du produit ou de remplacer le produit. Les produits étant fabriqués de manière artisanale, ils sont donc disponibles en quantités limitées.
		
		Certains produits fabriqués spécifiquement durant les fêtes de fin d’année, de Pâques ou autres occasions ne pourront être refabriqués ultérieurement.
	</p>

	<h4>ARTICLE 8 PRIX :</h4>

	<p>
		Les prix indiqués sur le bon de commande s’entendent en € euros TTC (Toutes Taxes Comprises), au départ de notre boutique. La TVA incluse est la TVA française applicable au jour de la commande.
		
		Si le taux de TVA venait à être modifié, ces changements pourront être répercutés sur le prix des articles sans que le client en soit préalablement informé. Toutefois les prix ne pourront être modifiés une fois la commande confirmée.
		
		Les frais d’expéditions comprennent les frais d’un emballage de qualité assuré par OKOAFRO HAIR. Les livraisons sont effectuées par OKOAFRO HAIR.
		
		En outre, les prix et frais sont susceptibles de varier ou de fluctuer en fonction des cours des matières premières et du marché en général.
		
		OKOAFRO HAIR  se laisse la possibilité d’augmenter ses prix.
	</p>

	<h4>ARTICLE 9 EXPÉDITIONS :</h4>

	<p>
      Le Client est tenu d’effectuer toutes les diligences nécessaires à la bonne réalisation de la livraison. A ce titre, il est tenu de fournir l’ensemble des informations indispensables à la livraison (adresse exacte, code de porte etc.). A défaut, Pâtiss’Passion ne saurait être tenue responsable d’un retard ou d’un défaut de livraison. Dans un tel cas, les produits seront retournés à l’entrepôt de notre société et l’acheteur devra prendre contact avec notre Service Clients afin de prendre connaissance des démarches à suivre pour récupérer les produits commandés. Notre société décline toute responsabilité quant au délai de récupération par le client de ses produits.

	</p>

	<h4>ARTICLE 10 GARANTIE DES PRODUITS :</h4>

	<p>
		OKOAFRO HAIR garantit aux clients que les produits sont fabriqués et emballés selon des règles de qualités strictes et conservés conformément aux normes en vigueur en France. Toutefois OKOAFRO HAIR ne saurait étendre sa garantie sur ses produits si le client n’a pas respecté les conditions de conservation optimale ou si celui-ci a consommé des produits au-delà de la date optimale de conservation indiquée sur l’emballage.
	</p>

	<h4>ARTICLE 11 PROPRIÉTÉ INTELLECTUELLE :</h4>

	<p>
		Tous les éléments de site (photographie, illustration, descriptifs, logo, marque…) sont et restent la propriété intellectuelle et exclusive de OKOAFRO HAIR. La reproduction, la rediffusion ou l’utilisation à quelque titre que ce soit des éléments du site sont soumis à l’autorisation expresse et préalable de OKOAFRO HAIR titulaire de l’ensemble des droits de propriété intellectuelle.
		
		L’utilisateur qui dispose d’un site internet et qui désire placer sur son site un lien simple renvoyant directement au site www.okoafro-hair@gmail.com doit préalablement solliciter l’autorisation de OKOAFRO HAIR.
	</p>

	<h4>ARTICLE 12 INFORMATIQUE ET LIBERTÉS, DONNÉES PERSONNELLES :</h4>

	<p>
		En commandant via notre site, le client consent à l’utilisation par OKOAFRO HAIR des données nominatives le concernant. Ces données sont nécessaires pour assurer le bon traitement des commandes.
		
		L’ensemble de ces informations sont traitées avec la plus grande rigueur et la plus grande discrétion. OKOAFRO HAIR s’engage à ne pas divulguer à des tiers les informations communiquées par le client sur le site. Celles-ci sont confidentielles. Elles ne seront utilisées que pour le traitement de la commande et pour renforcer et personnaliser la communication notamment par les lettres ou e-mail d’information.
		
		Conformément à l’article 34 de la loi « informatique et libertés » du 6 janvier 1978, le client bénéficie d’un droit d’accès, de rectification et de suppression des données qui le concernent. Pour exercer ce droit et obtenir des informations, le client peut contacter OKOAFRO HAIR.
	</p>

	<h4>ARTICLE 13 SÉCURITÉ DES DONNÉES :</h4>

	<p>
		OKOAFRO HAIR a en aucun cas accès aux informations confidentielles relatives aux moyens de paiement. C’est pourquoi les coordonnées bancaires du client lui seront demandées à chaque commande. Afin d’assurer la sécurité des paiements, le site www.Alice-délice.com utilise le service de paiement sécurisé E-TRANSACTIONS. En effet, seul E-TRANSACTIONS dispose des Informations confidentielles (n° de carte, date de validité, cryptogramme) inaccessible par un tiers. Les données confidentielles sont directement transmises cryptées sur le serveur E-TRANSACTIONS sans transiter sur les supports physiques du serveur de OKOAFRO HAIR.
	</p>

	<h4>ARTICLE 14 MODIFICATION DES CONDITIONS GÉNÉRALES DE VENTE :</h4>

	<p>
		OKOAFRO HAIR se réserve le droit de modifier les conditions générales de vente. Toute nouvelle version de celles-ci sera signalée préalablement sur le site.
	</p>

	<h4>ARTICLE 15 DROIT APPLICABLE ET LITIGES :</h4>

	<p>
		Le contrat formé par l’acceptation des présentes CGV est soumis à la loi française. La langue du présent contrat est la langue française. En cas de litige, les tribunaux français seront seuls compétents.
	</p>

</div>



</div>
{% endblock %}
